@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <div class="options">
        <ul>
            <li class="li-option active">
                <i class="fas fa-pizza-slice"></i>
                Productos
            </li>
            <li class="li-option">
                <i class="fas fa-clipboard-list"></i>
                Procesando
            </li>
            <li class="li-option">
                <i class="fas fa-check-double"></i>
                Productos terminados
            </li>
        </ul>
    </div>
    <div class="links">
        <ul>
            <li data-view="list-view" class="li-list active">
                <i class="fas fa-th-list"></i>
                Lista
            </li>
            <li data-view="grid-view" class="li-grid">
                <i class="fas fa-th-large"></i>
                Grilla
            </li>
        </ul>
    </div>
    <div class="view_main">
        <div class="view_wrap list-view" style="display: block;">
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/tomato.png" alt="tomato">
                </div>
                <div class="vi_right">
                    <p class="title">Tomato</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/chilli.png" alt="chilli">
                </div>
                <div class="vi_right">
                    <p class="title">Chilli</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/carrot.png" alt="carrot">
                </div>
                <div class="vi_right">
                    <p class="title">Carrot</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/onion.png" alt="onion">
                </div>
                <div class="vi_right">
                    <p class="title">Onion</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/potato.png" alt="potato">
                </div>
                <div class="vi_right">
                    <p class="title">Potato</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>
        </div>
        <div class="view_wrap grid-view" style="display: none;">
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/apple.png" alt="apple">
                </div>
                <div class="vi_right">
                    <p class="title">Apple</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/banana.png" alt="banana">
                </div>
                <div class="vi_right">
                    <p class="title">Banana</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/grapes.png" alt="grapes">
                </div>
                <div class="vi_right">
                    <p class="title">Grapes</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/pineapple.png" alt="pineapple">
                </div>
                <div class="vi_right">
                    <p class="title">Pineapple</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>
            <div class="view_item">
                <div class="vi_left">
                    <img src="~/Content/Images/strawberry.png" alt="strawberry">
                </div>
                <div class="vi_right">
                    <p class="title">Strawberry</p>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam impedit, veniam! Voluptate a impedit animi!</p>
                    <div class="btn">View More</div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/gridconv.js"></script>